/* Base styling for the entire document */
body {
    margin: 0;
    font-family: 'Sergoe UI', sans-serif;
    line-height: 1.8;
    color: #181818;
    background-color: #f8f8f8;
    height: 100vh;
    padding: 50px;
}

