<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Meu primeiro app</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Olá Mundo</h1>

    <p>Este é um app Spring em sua versão inicial.</p>
    <p>O objetivo é para estudo e treinamento.</p>
    <br>
    <p>v0.0.1</p>
    <br>
    <p>Ao final deste estudo, espero que minhas habilidades estejam aprimoradas em: </p>
    <br>
    <table border="1">
        <tbody>
            <tr>
                <th>Spring Boot</th>
            </tr>
            <tr>
                <th>Docker</th>
            </tr>
            <tr>
                <th>GitHub</th>
            </tr>
            <tr>
                <th>DevOps - GitHUb Actions</th>
            </tr>
            <tr>
                <th>Azure App Service</th>
            </tr>
            </tr>
        </tbody>
    </table>

    <script src="scripts.js"></script>
</body>
</html>
